<div>
  <h1 class="font-bold text-4xl">Products#index</h1>
  <p>Find me in app/views/products/index.html.erb</p>
</div>

<% @products.all.each do |product| %>
  <div class="flex items-center justify-between border-b border-gray-200 py-4">
    <div class="flex items center">
      <img src="<%= product.images.first.attachment.url %>" class="w-20 h-20 object-cover" alt="<%= product.name %>">
      <div class="ml-4">
        <h2 class="font-bold text-lg"><%= product.name %></h2>
        <p class="text-gray-500"><%= product.display_price %></p>
      </div>
    </div>
    <a href="<%= "/products/#{product.id}" %>" class="text-blue-500">View</a>
  </div>
<% end %>
